body {

    background-color: #222851;
    margin: 0;
    padding: 0;

}

#topBar {

    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    padding: 0%;
    background-color: #282F5F;
    display: flexbox;
    justify-content: space-between;
    border-top: solid;
    border-bottom: solid;
    border-color: #161A35;

}

#topBar-text {

    font-family: 'Josefin Sans', sans-serif;
    font-size: 35px;
    color: wheat;
    float: right;
    margin-right: 4%;
    margin-top: 33px;

}

#topBar-Logo {

    margin-top: 10px;
    margin-bottom: 10px;

}

#version-one-seventeen-one {

    display: flex;
    justify-content: center;
    background-color: #2E366C;
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 50px;
    border-style: solid;
    border-color: #0A0C19;

}

#text-one-seventeen-one {

    font-family: 'Play', sans-serif;
    font-weight: bold;
    font-size: 28px;
    color: wheat;
    padding: 0%;
    margin: 2%;

}

#download-one-seventeen-one {

    margin-top: auto;
    margin-bottom: auto;
    margin-left: 300px;
    cursor: pointer;
    padding: 0%;

}

/*-----------------*/

#version-one-seventeen {

    display: flex;
    justify-content: center;
    background-color: #2E366C;
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 50px;
    border-style: solid;
    border-color: #0A0C19;

}

#text-one-seventeen {

    font-family: 'Play', sans-serif;
    font-weight: bold;
    font-size: 28px;
    color: wheat;
    padding: 0%;
    margin: 2%;

}

#download-one-seventeen {

    margin-top: auto;
    margin-bottom: auto;
    margin-left: 299px;
    cursor: pointer;
    padding: 0%;

}

/*-----------------*/

#version-one-sixteen-five {

    display: flex;
    justify-content: center;
    background-color: #2E366C;
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 50px;
    border-style: solid;
    border-color: #0A0C19;

}

#text-one-sixteen-five {

    font-family: 'Play', sans-serif;
    font-weight: bold;
    font-size: 28px;
    color: wheat;
    padding: 0%;
    margin: 2%;

}

#download-one-sixteen-five {

    margin-top: auto;
    margin-bottom: auto;
    margin-left: 305px;
    cursor: pointer;
    padding: 0%;

}

/*-----------------*/

#version-one-sixteen-four {

    display: flex;
    justify-content: center;
    background-color: #2E366C;
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 50px;
    border-style: solid;
    border-color: #0A0C19;

}

#text-one-sixteen-four {

    font-family: 'Play', sans-serif;
    font-weight: bold;
    font-size: 28px;
    color: wheat;
    padding: 0%;
    margin: 2%;

}

#download-one-sixteen-four {

    margin-top: auto;
    margin-bottom: auto;
    margin-left: 305px;
    cursor: pointer;
    padding: 0%;

}

/*-----------------*/

#version-one-sixteen-three {

    display: flex;
    justify-content: center;
    background-color: #2E366C;
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 50px;
    border-style: solid;
    border-color: #0A0C19;

}

#text-one-sixteen-three {

    font-family: 'Play', sans-serif;
    font-weight: bold;
    font-size: 28px;
    color: wheat;
    padding: 0%;
    margin: 2%;

}

#download-one-sixteen-three {

    margin-top: auto;
    margin-bottom: auto;
    margin-left: 305px;
    cursor: pointer;
    padding: 0%;

}