body {

    background-color: #222851;
    margin: 0;
    padding: 0;

}

#topBar {

    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    padding: 0%;
    background-color: #282F5F;
    display: flexbox;
    justify-content: space-between;
    border-top: solid;
    border-bottom: solid;
    border-color: #161A35;

}

#topBar-text {

    font-family: 'Josefin Sans', sans-serif;
    font-size: 35px;
    color: wheat;
    float: right;
    margin-right: 4%;
    margin-top: 33px;

}

#topBar-Logo {

    margin-top: 10px;
    margin-bottom: 10px;

}

#version-one-seventeen-one {

    display: flex;
    justify-content: center;
    background-color: #2E366C;
    margin-left: 15%;
    margin-right: 15%;
    border-style: solid;
    border-color: #0A0C19;

}

#text-one-seventeen-one {

    font-family: 'Play', sans-serif;
    font-weight: bold;
    font-size: 28px;
    color: wheat;
    padding: 0%;
    margin: 2%;

}

#download-one-seventeen-one {

    margin-top: auto;
    margin-bottom: auto;
    margin-left: 300px;
    cursor: pointer;
    padding: 0%;

}

#version-box {

    display: flex;
    justify-content: center;
    background-color: #2E366C;
    margin-left: 15%;
    margin-right: 15%;
    border-style: solid;
    border-color: #0A0C19;

}

#versions-text {

    font-family: 'Play', sans-serif;
    font-weight: bold;
    font-size: 28px;
    color: wheat;
    padding: 0%;
    margin: 2%;

}

#download-one-seventeen-one {

    margin-top: auto;
    margin-bottom: auto;
    margin-left: 299px;
    cursor: pointer;

}

#download-one-seventeen {

    margin-top: auto;
    margin-bottom: auto;
    margin-left: 299px;
    cursor: pointer;

}

#download-one-sixteen-five {

    margin-top: auto;
    margin-bottom: auto;
    margin-left: 305px;
    cursor: pointer;

}

#download-one-sixteen-four {

    margin-top: auto;
    margin-bottom: auto;
    margin-left: 305px;
    cursor: pointer;

}

#download-one-sixteen-three {

    margin-top: auto;
    margin-bottom: auto;
    margin-left: 305px;
    cursor: pointer;

}

#download-one-sixteen-two {

    margin-top: auto;
    margin-bottom: auto;
    margin-left: 305px;
    cursor: pointer;

}

#download-one-sixteen-one {

    margin-top: auto;
    margin-bottom: auto;
    margin-left: 305px;
    cursor: pointer;

}

#download-one-fifteen-two {

    margin-top: auto;
    margin-bottom: auto;
    margin-left: 305px;
    cursor: pointer;

}

#download-one-fifteen-one {

    margin-top: auto;
    margin-bottom: auto;
    margin-left: 305px;
    cursor: pointer;

}

#download-one-fifteen {

    margin-top: auto;
    margin-bottom: auto;
    margin-left: 316px;
    cursor: pointer;

}

#download-one-fourteen-four {

    margin-top: auto;
    margin-bottom: auto;
    margin-left: 310px;
    cursor: pointer;

}

#download-one-fourteen-three {

    margin-top: auto;
    margin-bottom: auto;
    margin-left: 310px;
    cursor: pointer;

}

#download-one-fourteen-two {

    margin-top: auto;
    margin-bottom: auto;
    margin-left: 310px;
    cursor: pointer;

}

#download-one-fourteen-one {

    margin-top: auto;
    margin-bottom: auto;
    margin-left: 310px;
    cursor: pointer;

}

#download-one-fourteen {

    margin-top: auto;
    margin-bottom: auto;
    margin-left: 320px;
    cursor: pointer;

}

#download-one-thriteen-two {

    margin-top: auto;
    margin-bottom: auto;
    margin-left: 310px;
    cursor: pointer;

}

#download-one-thriteen-one {

    margin-top: auto;
    margin-bottom: auto;
    margin-left: 310px;
    cursor: pointer;

}

#download-one-thriteen {

    margin-top: auto;
    margin-bottom: auto;
    margin-left: 320px;
    cursor: pointer;

}

#download-one-twelve-two {

    margin-top: auto;
    margin-bottom: auto;
    margin-left: 310px;
    cursor: pointer;

}

#download-one-twelve-one {

    margin-top: auto;
    margin-bottom: auto;
    margin-left: 310px;
    cursor: pointer;

}

#download-one-twelve {

    margin-top: auto;
    margin-bottom: auto;
    margin-left: 319px;
    cursor: pointer;

}

#download-one-eleven-two {

    margin-top: auto;
    margin-bottom: auto;
    margin-left: 314px;
    cursor: pointer;

}

#download-one-eleven-one {

    margin-top: auto;
    margin-bottom: auto;
    margin-left: 314px;
    cursor: pointer;

}

#download-one-eleven {

    margin-top: auto;
    margin-bottom: auto;
    margin-left: 324px;
    cursor: pointer;

}

#download-one-ten-two {

    margin-top: auto;
    margin-bottom: auto;
    margin-left: 315px;
    cursor: pointer;

}

#download-one-ten {

    margin-top: auto;
    margin-bottom: auto;
    margin-left: 325px;
    cursor: pointer;

}

#download-one-nine-four {

    margin-top: auto;
    margin-bottom: auto;
    margin-left: 325px;
    cursor: pointer;

}

#download-one-nine-two {

    margin-top: auto;
    margin-bottom: auto;
    margin-left: 325px;
    cursor: pointer;

}

#download-one-nine {

    margin-top: auto;
    margin-bottom: auto;
    margin-left: 336px;
    cursor: pointer;

}

#download-one-eight-eight {

    margin-top: auto;
    margin-bottom: auto;
    margin-left: 327px;
    cursor: pointer;

}

#download-one-eight-seven {

    margin-top: auto;
    margin-bottom: auto;
    margin-left: 327px;
    cursor: pointer;

}

#download-one-eight-six {

    margin-top: auto;
    margin-bottom: auto;
    margin-left: 327px;
    cursor: pointer;

}

#download-one-eight-five {

    margin-top: auto;
    margin-bottom: auto;
    margin-left: 327px;
    cursor: pointer;

}

#download-one-eight-four {

    margin-top: auto;
    margin-bottom: auto;
    margin-left: 327px;
    cursor: pointer;

}

#download-one-eight-three {

    margin-top: auto;
    margin-bottom: auto;
    margin-left: 327px;
    cursor: pointer;

}

#download-one-eight {

    margin-top: auto;
    margin-bottom: auto;
    margin-left: 338px;
    cursor: pointer;

}

#download-one-seven-ten {

    margin-top: auto;
    margin-bottom: auto;
    margin-left: 315px;
    cursor: pointer;

}